* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Colors */
	--clr-body: #ffffff;
	--clr-paragraph: #666666;
	--clr-subscribe-btn: #ee7c0d;

	/* Font Sizes */
	--fs-300: 1rem;
	--fs-400: 1.25rem;
	--fs-500: 1.35rem;
	--fs-800: 2rem;
	--fs-900: 2.5rem;

	/* font-sizes for regular window size */
	--fs-nav-links: var(--fs-400);
	--fs-body: var(--fs-500);
	--fs-heading: var(--fs-900);

	/* font-weight */
	--fw-light: 300;
	--fw-bold: 500;
}

h2 {
	font-size: var(--fs-heading);
}

p:not(.user p) {
	font-size: var(--fs-body);
}

#nav-bar li,
button {
	font-size: var(--fs-nav-links);
}

body {
	--padding: 5rem;
	--max-width: 1440px;
	font-family: 'Manrope', sans-serif;
	font-weight: var(--fw-light);
	width: min(var(--max-width), 87.5%);
	margin: min(3rem, 2em) 0;
	margin-inline: auto;
}

li {
	list-style: none;
}

li,
p:not(li>button),
span {
	color: var(--clr-paragraph);
	font-weight: var(--fw-bold);
}

.hidden-desktop {
	display: none;
}

#nav-bar,
footer {
	display: flex;
	align-items: center;
	margin: 3rem 0;
	flex-wrap: wrap;
	gap: 1rem;
}

img[alt="logo"] {
	margin-right: auto;
}

.user>img {
	width: 70px;
}

#nav-bar ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

button {
	background-color: var(--clr-subscribe-btn);
	border: none;
	padding: 0.75rem 1rem;
	border-radius: 0.3rem;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem 2rem;
	overflow: hidden;
	margin: 2rem 0;
}

main section:first-of-type {
	grid-column: 1/4;
	display: flex;
	gap: 5rem;
	padding-right: 5rem;
}

article>p:first-of-type {
	width: 95%;
}

section:not(:first-of-type) h2 {
	margin-top: 1.5rem;
}

.user {
	display: flex;
	gap: 1rem;
	align-items: center;
}

p:not(.user p) {
	margin: 1.5rem 0;
}

@media screen and (max-width:1655px) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-of-type(4) {
		grid-row: 3;
		align-items: center;

	}

	section>img {
		width: max(90%, 25rem);
	}

	section:first-of-type {
		padding-right: 2rem;
	}

	section:not(:first-of-type) article {
		width: max(80%, 29rem);
	}
}

@media screen and (max-width:1120px) {
	:root {
		--fs-body: var(--fs-400);
		--fs-nav-links: var(--fs-300);
		--fs-heading: var(--fs-800);
	}

	main {
		grid-template-columns: 1fr;
	}

	section>img {
		width: 100vw;
		height: max-content;
		height: 300px;
	}

	main section:first-of-type {
		flex-wrap: wrap;
		width: min-content;
		gap: 3rem;
	}

	section:first-of-type article {
		width: 85%;
	}

	section:not(:first-of-type) article {
		width: max(75%, 80vw, 300px);
	}

	main section:nth-of-type(3) {
		grid-row: 3;

	}

	main section:nth-of-type(4) {
		grid-row: 4;

	}

	.hidden-desktop {
		display: block;
	}

	.hidden-mobile {
		display: none !important;
	}
}